<!DOCTYPE html>
<html>
<head>
	<title>Pop Secret</title>
	<div id="header">
	</div>
	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>

<%= yield %>


</body>
</html>