<div class="animated rubberBand">
<h1 align="center">Register</h1>

<form action="/register" method="post" align="center">
<input type="text" name="username" placeholder="Username" align="center"/>
<input type="password" name="password" placeholder="Password" align="center"/>
<button id="registerbtn" align="center">REGISTER!</button>
</form>
</div>